.body {
    background-size: cover;
    height: 60vh;
}

.ad {
    font-style: italic;
    color: #afb7d1;
}

.head {
    font-style: italic;
    font-weight: 500;
}

.child {
    top: 50%;
    left: 5%;
}