* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.bg-dark {
    background-color: #111;
}

.container {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;

    width: 1200px;
}

.flex {
    display: flex;

    &--justify-between {
        justify-content: space-between;
    }

    &--column {
        flex-direction: column;
    }
}

.btn {
    background-color: #383838;
    color: white;
    text-decoration: none;
    padding: 10px;
    font-style: italic;

    &:hover {
        background-color: #848484;
    }
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.mx-5 {
    margin-left: 5px;
    margin-right: 5px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.p-10 {
    padding: 10px;
}

.p-30 {
    padding: 30px;
}

.pt-5 {
    padding-top: 5px;
}

.px-5 {
    padding-left: 5px;
    padding-right: 5px;
}